.paginator {
  display: flex;
  list-style: none;
  &__element {
    padding-right: $smallSpace/2;
  }
  &__link {
    text-decoration: underline;
    cursor: pointer;
    -webkit-appearance: none;
    &_active {
      text-decoration: none;
      cursor: default;
    }
  }
}